.form-group
  %div.col-sm-4.control-label
    = f.label "organization_accreditations", "Accreditations"
    .desc
      (Comma-separated list)
  .col-sm-8
    = text_field_tag 'organization[accreditations][]', @organization.accreditations.join(','), id: 'organization_accreditations', class: 'form-control'
