.form-group
  %div.col-sm-4.control-label
    = f.label "date_incorproated", "Date of Incorporation"
  .col-sm-8
    = f.date_select :date_incorporated, include_blank: true, start_year: 1970, class: 'form-control'
