.form-group
  .col-sm-4.control-label
    = f.label :legal_status, 'Legal Status'
    .desc
      (e.g. non-profit, private corporation or a government organization)
  .col-sm-8
    = f.text_field :legal_status, required: false, maxlength: 255, class: 'form-control'

