.form-group
  %div.col-sm-4.control-label
    = f.label :organization_licenses, "Licenses"
    .desc
      (Comma-separated list)
  .col-sm-8
    = text_field_tag 'organization[licenses][]', @organization.licenses.join(','), id: 'organization_licenses', class: 'form-control'
