.form-group
  %div.col-sm-4.control-label
    = f.label :tax_status, 'Tax Status'
    .desc
      (e.g., 501(c)(3))
  .col-sm-8
    = f.text_field :tax_status, required: false, maxlength: 255, class: 'form-control'
