.form-group
  %div.col-sm-4.control-label
    = f.label :tax_id, 'Tax Identifier'
    .desc
      (e.g. Federal Employer Identification Number)
  .col-sm-8
    = f.text_field :tax_id, required: false, maxlength: 255, class: 'form-control'
