.form-group
  .col-sm-4.control-label
    = f.label :description, 'Description'
    .desc
      A description of the location's services.
  .col-sm-8
    = field_set_tag do
      = f.text_area :description, required: false, class: 'form-control', rows: 10
