.form-group
  .col-sm-4.control-label
    = f.label :short_desc, 'Short Description'
    .desc
      A short summary of the description of services.
  .col-sm-8
    = field_set_tag do
      = f.text_area :short_desc, class: 'form-control'
