.form-group
  .col-sm-4.control-label
    = f.label :virtual, 'Type of location'
    .desc
      Does this location have a physical address?
  = field_set_tag do
    .col-md-4
      = f.select :virtual, [['Does not have a physical address', true], ['Has a physical address', false]], {}, class: 'form-control'
