.form-group
  .col-sm-4.control-label
    = f.label :department, 'Contact Department'
  = field_set_tag do
    .col-sm-8
      = f.text_field :department, required: false, maxlength: 255, class: 'form-control'
