.form-group
  .col-sm-4.control-label
    Accepted Payments
  .col-sm-8
    = field_set_tag do
      = f.select :accepted_payments, SETTINGS.try(:[], :accepted_payments), {}, multiple: true, class: 'form-control'
