.form-group
  .col-sm-4.control-label
    = f.label :application_process, 'Application process'
    .desc
      How does a client apply to receive services, if applicable?
  .col-sm-8
    = f.text_area :application_process, class: 'form-control'
