.form-group
  .col-sm-4.control-label
    = f.label :eligibility, 'Eligibility'
    .desc
      What criteria must served groups meet to receive service?
  .col-sm-8
    = f.text_area :eligibility, class: 'form-control'
