.form-group
  .col-sm-4.control-label
    = f.label :interpretation_services, 'Interpretation Services'
    .desc
      What kind of interpretation services are available?
  .col-sm-8
    = f.text_area :interpretation_services, class: 'form-control'
