.form-group
  .col-sm-4.control-label
    = f.label "Languages this service is provided in."
  .col-sm-8
    = field_set_tag do
      = f.select :languages, SETTINGS.try(:[], :languages), {}, multiple: true, class: 'form-control'
