.form-group
  .col-sm-4.control-label
    = f.label :program_id, 'Service Program'
    .desc
      If this service is associated with a program, enter it below.
  .col-sm-8
    = program_autocomplete_field_for(f)
