.form-group
  .col-md-4.control-label
    = f.label :wait_time, 'Wait Time'
    .desc
      How long on average does a client need to wait to receive services?
  .col-md-8
    = f.text_area :wait_time, class: 'form-control'
