.form-group
  .col-sm-4.control-label
    = f.label :funding_sources, 'Funding Sources'
  .col-sm-8
    = f.select :funding_sources, SETTINGS.try(:[], :funding_sources), {}, multiple: true, class: 'form-control'

